NODE_ENV=development
PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=secret
DB_NAME=delivaroo

JWT_ACCESS_EXP=30m
JWT_REFRESH_EXP=30d

JWT_ACCESS_SECRET=some_access_secret
JWT_REFRESH_SECRET=some_refresh_secret
